@import 'styles.css';


#lobby-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh;
}

#lobby-title {
    padding-top: 10vh;
}

#lobby-title {
    font-family: muller-extra-bold, sans-serif;
    font-size: 5rem;
}

#player-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 100vw;
}

.player-input {
    font-family: muller-narrow-light;
    font-size: 3rem;
    width: 40vw;
    padding-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.player-input-box {
    /* align-items: center !important;
    text-align: center !important; */
    justify-content: center !important;
}

#submit-names {
    margin-top: 2vh;
    background-color: #3b3d28 !important;
    border-color: #1a1a1a;
}